@import url('reset.css');
@import url('common.css');

header{
  padding-top: 47px;
  background:
    no-repeat url(../images/header_ellipse.svg),
    no-repeat url(../images/header_bg.svg) 100% 0;
}

header nav > div{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.top_menu {
  display: flex;
  align-items:center;
}
.top_menu > ul{
  display: flex;
}
.dropdown ul{
  display: none;
}
.main_menu {
  gap:60px;
  margin-right: 80px;
}
.login_menu{
  gap:30px;
  margin-right: 30px;
}
nav h1 a {
  background: url(../images/logo.svg);
  width: 116px;
  height: 35px;
  display: block;
  text-indent: -9999em;
  overflow: hidden;
}
.login_menu a{
  padding: 0 21px;
  border:1px solid transparent;
  height: 40px;
  display: block;
  border-radius:5px;
  box-sizing: border-box;  
  line-height: 38px;
  transition:0.3s;
}
.login_menu a:hover{
  border-color:#212832;
}
/* hero */
.hero{
  display: flex;
  justify-content: space-between;
}
.hero .content{
  margin-top: 130px;
}
.hero .content h3{
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #DF6951;
  text-transform: uppercase;
}
